/* @override http://localhost:8000/static/css/frame.css */

/* @group Top bar */

#topbar
{
	font-family: Georgia, "Times New Roman", Times, serif;
}

div.clear
{
	clear: both;
	font-size: 1px;
}

div.topbar
{
	background-color: rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 0px;
	font-size: 11px;
	padding: 5px 6px 5px 6px;
	height: 12px;
}

div.topbar a
{
	color: #731b25;
	text-decoration: none;
}

div.topbar_top
{
	height: 30px;
}

.float_left
{
	float: left;
}

.float_right
{
	float: right;
}

div.topbar div.topbar_left a
{
	margin-right: 10px;
}

div.topbar div.topbar_right a
{
	margin-left: 10px;
}

/* @end */

/* @group Sub menu */

div.submenu
{
	background: #d9dcd9;
	border-bottom: 1px solid #858585;
	text-align: right;
}

div.submenu div.submenu_right
{
	padding-right: 5px;
}

div.submenu h1
{
	padding: 2px 2px 2px 5px;
	font-size: 15px;
}
